.clock {
  width: 450px;
  height: 450px;
  border-radius: 100%;
  padding: 20px;
  border: 20px solid rgb(228, 207, 138);
  background: url('https://w7.pngwing.com/pngs/181/1002/png-transparent-rolex-datejust-rolex-milgauss-watch-rolex-day-date-rolex.png')
   no-repeat center center;
  background-size: stretch;
  position: relative;
}

  
  .clock .hour-hand,
  .clock .minute-hand,
  .clock .second-hand {
    width: 50%;
    height: 6px;
    background-color: rgb(190, 190, 190);
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0% 50%;
    transform: rotate(90deg);
    margin-top: -3px;;
  }
  
.clock .hour-hand {
  z-index: 1;
  width: 32%;
  transform: translate(-50%, -50%) rotate(90deg);
}


  .clock .minute-hand {
    width: 48%;
    height: 4px;
    background-color: rgb(160, 160, 160);
    border-radius: 2px;
    z-index: 2;
  }
  
  .clock .second-hand {
    width: 49%;
    height: 2px;
    background-color: red;
    border-radius: 1px;
    z-index: 3;
  }
  
  .clock .center {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .day {
    position: absolute;
    top: 50%;
    left: 82.5%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    font-weight: bold;
    color: rgb(109, 90, 27);
    background-color: beige;
    height: 32px;
    width: 48px;
    z-index: 2;
    text-align: center;

  }
  